apiVersion: v1
kind: Secret
metadata:
  name: "{{manifest_secret.name}}"
  namespace: "{{manifest_secret.namespace}}"
data:
{% for key, value in secrets_value_vault.items() %}
  {{ key }}: {{ value | quote }}
{% endfor %}
{% for key, value in secrets_value_unsafe.items() %}
  {{ key }}: {{ value | quote }}
{% endfor %}